# Lab | Random Forests

For this lab, you will be using the CSV files provided in the `files_for_lab` folder.

### Instructions

- Apply the Random Forests algorithm but this time only by upscaling the data using `SMOTE`.
- Note that since `SMOTE` works on numerical data only, we will first encode the categorical variables in this case.

In [81]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import os 

import seaborn as sns
import matplotlib.pyplot as plt

In [82]:
%run '/Users/leozinho.air/Desktop/Ironhack/Project 03 - Iron Kaggle/eda_functions.py'

In [83]:
categorical = pd.read_csv('/Users/leozinho.air/Desktop/Ironhack/class_30/lab-random-forests/files_for_lab/categorical.csv')
numerical = pd.read_csv('/Users/leozinho.air/Desktop/Ironhack/class_30/lab-random-forests/files_for_lab/numerical.csv')
target = pd.read_csv('/Users/leozinho.air/Desktop/Ironhack/class_30/lab-random-forests/files_for_lab/target.csv')

In [84]:
numerical2 = categorical.select_dtypes(include=np.number)
numerical2

,CLUSTER,DATASRCE,DOMAIN_B,ODATEW_YR,ODATEW_MM,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,36,3,2,89,1,37,12,92,8,94,2,95,12,89,11
1,14,3,1,94,1,52,2,93,10,95,12,95,12,93,10
2,43,3,2,90,1,0,2,91,11,92,7,95,12,90,1
3,44,3,2,87,1,28,1,87,11,94,11,95,12,87,2
4,16,3,2,86,1,20,1,93,10,96,1,96,1,79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,27,3,2,96,1,0,2,96,2,96,2,96,2,96,2
95408,24,3,1,96,1,50,1,96,3,96,3,96,3,96,3
95409,30,3,3,95,1,38,1,96,3,95,1,96,10,94,10
95410,24,2,1,86,1,40,5,90,11,96,8,97,1,86,12
95411,24,3,1,88,1,18,1,88,12,93,12,96,12,88,3

In [85]:
categorical = categorical.select_dtypes(include= object)
categorical

       STATE HOMEOWNR GENDER RFA_2R RFA_2A GEOCODE2 DOMAIN_A
0         IL        H      F      L      E        C        T
1         CA        H      M      L      G        A        S
2         NC        U      M      L      E        C        R
3         CA        U      F      L      E        C        R
4         FL        H      F      L      F        A        S
...      ...      ...    ...    ...    ...      ...      ...
95407  other        H      M      L      G        C        C
95408     TX        H      M      L      F        A        C
95409     MI        H      M      L      E        B        C
95410     CA        H      F      L      F        A        C
95411     NC        U      F      L      G        C        C

[95412 rows x 7 columns]

In [86]:
dummies = pd.get_dummies(categorical, drop_first = True)
dummies

,STATE_FL,STATE_GA,STATE_IL,STATE_IN,STATE_MI,STATE_MO,STATE_NC,STATE_TX,STATE_WA,STATE_WI,...,RFA_2A_E,RFA_2A_F,RFA_2A_G,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U
0,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
2,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,1,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
95408,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
95409,0,0,0,0,1,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
95410,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
95411,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0

In [87]:
categorical_X = pd.concat([dummies,numerical2], axis=1)
categorical_X

,STATE_FL,STATE_GA,STATE_IL,STATE_IN,STATE_MI,STATE_MO,STATE_NC,STATE_TX,STATE_WA,STATE_WI,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,0,0,1,0,0,0,0,0,0,0,...,37,12,92,8,94,2,95,12,89,11
1,0,0,0,0,0,0,0,0,0,0,...,52,2,93,10,95,12,95,12,93,10
2,0,0,0,0,0,0,1,0,0,0,...,0,2,91,11,92,7,95,12,90,1
3,0,0,0,0,0,0,0,0,0,0,...,28,1,87,11,94,11,95,12,87,2
4,1,0,0,0,0,0,0,0,0,0,...,20,1,93,10,96,1,96,1,79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,0,0,0,0,0,0,0,0,0,0,...,0,2,96,2,96,2,96,2,96,2
95408,0,0,0,0,0,0,0,1,0,0,...,50,1,96,3,96,3,96,3,96,3
95409,0,0,0,0,1,0,0,0,0,0,...,38,1,96,3,95,1,96,10,94,10
95410,0,0,0,0,0,0,0,0,0,0,...,40,5,90,11,96,8,97,1,86,12
95411,0,0,0,0,0,0,1,0,0,0,...,18,1,88,12,93,12,96,12,88,3

In [96]:
data = pd.concat([numerical, categorical_X, target.drop("TARGET_D", axis = 1) ], axis = 1).reset_index(drop=True)
data

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM,TARGET_B
0,0,60.000000,5,9,0,0,39,34,18,10,...,12,92,8,94,2,95,12,89,11,0
1,1,46.000000,6,9,16,0,15,55,11,6,...,2,93,10,95,12,95,12,93,10,0
2,1,61.611649,3,1,2,0,20,29,33,6,...,2,91,11,92,7,95,12,90,1,0
3,0,70.000000,1,4,2,0,23,14,31,3,...,1,87,11,94,11,95,12,87,2,0
4,0,78.000000,3,2,60,1,28,9,53,26,...,1,93,10,96,1,96,1,79,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,2,96,2,96,2,96,2,96,2,0
95408,1,48.000000,7,9,1,0,31,43,19,4,...,1,96,3,96,3,96,3,96,3,0
95409,1,60.000000,5,9,0,0,18,46,20,7,...,1,96,3,95,1,96,10,94,10,0
95410,0,58.000000,7,9,0,0,28,35,20,9,...,5,90,11,96,8,97,1,86,12,1
95411,2,80.000000,5,8,3,1,33,22,27,8,...,1,88,12,93,12,96,12,88,3,0

In [97]:
from sklearn.model_selection import train_test_split

# Defining X and y variables
X = data.drop("TARGET_B",axis = 1)
y = data["TARGET_B"]

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = 0.2)

# Train dataframe
df_train = pd.concat([X_train, y_train], axis = 1)
df_train = df_train.reset_index(drop = True)


# Test dataframe
df_test = pd.concat([X_test, y_test], axis = 1)
df_test = df_test.reset_index(drop = True)

In [98]:

# Computing the frequency of the unique values of the target variable before oversampling or undersampling the train dataset
df_train["TARGET_B"].value_counts()

0    72464
1     3865
Name: TARGET_B, dtype: int64

In [103]:
# Upscaling with SMOTE
from imblearn.over_sampling import SMOTE

smote = SMOTE()
X_sm, y_sm = smote.fit_resample(df_train.drop("TARGET_B", axis = 1), df_train["TARGET_B"])

# Creating a balanced train dataframe
df_train = pd.concat([X_sm, y_sm], axis = 1)
df_train

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM,TARGET_B
0,28,61.611649,5,9,0,0,29,36,21,7,...,2,96,2,96,2,96,2,96,2,0
1,0,64.000000,4,9,0,0,23,23,28,2,...,1,90,12,92,11,95,9,90,10,0
2,1,63.000000,7,6,2,0,25,27,33,3,...,1,92,1,96,1,96,1,88,9,0
3,2,72.000000,2,9,0,0,34,19,30,7,...,1,94,1,94,11,95,6,88,8,0
4,0,61.611649,1,9,0,0,37,46,38,6,...,2,89,10,95,12,95,12,89,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144923,0,79.270300,5,8,0,0,40,19,50,9,...,6,89,10,95,2,96,3,86,5,1
144924,0,58.014622,5,8,0,0,23,19,40,3,...,1,93,9,95,12,95,12,93,9,1
144925,19,56.899433,3,6,2,0,25,47,30,14,...,1,94,4,95,5,96,8,89,7,1
144926,13,33.862297,5,8,0,0,24,28,35,9,...,3,92,7,91,5,95,5,89,10,1
144927,0,73.776504,7,7,3,0,14,37,39,3,...,1,95,6,93,3,95,3,92,2,1

In [104]:
df_train["TARGET_B"].value_counts()

0    72464
1    72464
Name: TARGET_B, dtype: int64

In [105]:
from sklearn.ensemble import RandomForestClassifier

# Building a Random Forest model

rf_model = RandomForestClassifier(n_estimators = 100, max_depth = 7, random_state = 42)
rf_model.fit(df_train.drop("TARGET_B", axis = 1), df_train["TARGET_B"])

print("R2 (Train data):", rf_model.score(df_train.drop("TARGET_B", axis = 1), df_train["TARGET_B"]))
print("R2 (Test data):", rf_model.score(df_test.drop("TARGET_B", axis = 1), df_test["TARGET_B"]))

R2 (Train data): 0.9073815963788916
R2 (Test data): 0.859980086988419

In [106]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report

# Make predictions on the test data
y_pred_test = rf_model.predict(df_test.drop("TARGET_B", axis=1))

# Make predictions on the training data for comparison
y_pred_train = rf_model.predict(df_train.drop("TARGET_B", axis=1))

# Evaluate the model
# Test data metrics
accuracy_test = accuracy_score(df_test["TARGET_B"], y_pred_test)
precision_test = precision_score(df_test["TARGET_B"], y_pred_test, average='binary')
recall_test = recall_score(df_test["TARGET_B"], y_pred_test, average='binary')
f1_test = f1_score(df_test["TARGET_B"], y_pred_test, average='binary')

# Training data metrics for comparison
accuracy_train = accuracy_score(df_train["TARGET_B"], y_pred_train)
precision_train = precision_score(df_train["TARGET_B"], y_pred_train, average='binary')
recall_train = recall_score(df_train["TARGET_B"], y_pred_train, average='binary')
f1_train = f1_score(df_train["TARGET_B"], y_pred_train, average='binary')

# Print evaluation metrics
print("Evaluation Metrics for Training Data:")
print(f"Accuracy (Train): {accuracy_train}")
print(f"Precision (Train): {precision_train}")
print(f"Recall (Train): {recall_train}")
print(f"F1 Score (Train): {f1_train}")

print("\nEvaluation Metrics for Test Data:")
print(f"Accuracy (Test): {accuracy_test}")
print(f"Precision (Test): {precision_test}")
print(f"Recall (Test): {recall_test}")
print(f"F1 Score (Test): {f1_test}")

# Confusion Matrix for Test Data
conf_matrix_test = confusion_matrix(df_test["TARGET_B"], y_pred_test)
print("\nConfusion Matrix for Test Data:")
print(conf_matrix_test)

# Detailed classification report for Test Data

Evaluation Metrics for Training Data:
Accuracy (Train): 0.9073815963788916
Precision (Train): 0.9012082251729434
Recall (Train): 0.9150750717597703
F1 Score (Train): 0.9080887135980498

Evaluation Metrics for Test Data:
Accuracy (Test): 0.859980086988419
Precision (Test): 0.06741573033707865
Recall (Test): 0.13496932515337423
F1 Score (Test): 0.08991825613079019

Confusion Matrix for Test Data:
[[16279  1826]
 [  846   132]]