In [ ]:
#Lab | Random Forests

In [ ]:
#Instructions
#Apply the Random Forests algorithm but this time only by upscaling the data using SMOTE.
#Note that since SMOTE works on numerical data only, we will first encode the categorical variables in this case.

In [1]:
import pandas as pd
from imblearn.over_sampling import SMOTE
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [2]:
categorical = pd.read_csv('categorical.csv')
numerical = pd.read_csv('numerical.csv')
y = pd.read_csv('target.csv')

In [3]:
categorical.dtypes

STATE           object
CLUSTER          int64
HOMEOWNR        object
GENDER          object
DATASRCE         int64
RFA_2R          object
RFA_2A          object
GEOCODE2        object
DOMAIN_A        object
DOMAIN_B         int64
ODATEW_YR        int64
ODATEW_MM        int64
DOB_YR           int64
DOB_MM           int64
MINRDATE_YR      int64
MINRDATE_MM      int64
MAXRDATE_YR      int64
MAXRDATE_MM      int64
LASTDATE_YR      int64
LASTDATE_MM      int64
FIRSTDATE_YR     int64
FIRSTDATE_MM     int64
dtype: object

In [4]:
numerical.dtypes

TCODE         int64
AGE         float64
INCOME        int64
WEALTH1       int64
HIT           int64
             ...
AVGGIFT     float64
CONTROLN      int64
HPHONE_D      int64
RFA_2F        int64
CLUSTER2      int64
Length: 315, dtype: object

In [5]:
y_class = y['TARGET_B']
y_regr = y['TARGET_D']

In [6]:
# Encode
columns_to_encode = list(categorical.columns)
categorical_encoded = pd.get_dummies(categorical[columns_to_encode])

In [7]:
# Merge categorical and numerical
X = pd.concat([numerical, categorical_encoded], axis=1)
X

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,RFA_2A_G,GEOCODE2_A,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_C,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U
0,0,60.000000,5,9,0,0,39,34,18,10,...,0,0,0,1,0,0,0,0,1,0
1,1,46.000000,6,9,16,0,15,55,11,6,...,1,1,0,0,0,0,0,1,0,0
2,1,61.611649,3,1,2,0,20,29,33,6,...,0,0,0,1,0,0,1,0,0,0
3,0,70.000000,1,4,2,0,23,14,31,3,...,0,0,0,1,0,0,1,0,0,0
4,0,78.000000,3,2,60,1,28,9,53,26,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,1,0,0,1,0,1,0,0,0,0
95408,1,48.000000,7,9,1,0,31,43,19,4,...,0,1,0,0,0,1,0,0,0,0
95409,1,60.000000,5,9,0,0,18,46,20,7,...,0,0,1,0,0,1,0,0,0,0
95410,0,58.000000,7,9,0,0,28,35,20,9,...,0,1,0,0,0,1,0,0,0,0
95411,2,80.000000,5,8,3,1,33,22,27,8,...,1,0,0,1,0,1,0,0,0,0

In [10]:
smote = SMOTE()
X_sm, y_sm = smote.fit_resample(X, y_class)

In [11]:
# Split the data into Train / Test

X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=0.2, random_state=100)

In [12]:
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [13]:
y_pred = model.predict(X_test)

In [14]:
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)

R2 Score: 0.8977586369217757

In [15]:
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("Random Forest Classifier Performance:")
print(f"Accuracy: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1-Score: {f1}")

Random Forest Classifier Performance:
Accuracy: 0.9744396599315447
Precision: 0.9995349107610023
Recall: 0.9493125724697697
F1-Score: 0.9737766198459447

In [ ]:
#the Random Forest Classifier demonstrated strong performance in predicting the  target variable after applying the SMOTE technique.