In [1]:
# Importing libraries
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

In [2]:
# Importing data
numerical1 = pd.read_csv(r"C:\Users\joaoa\Desktop\Ironhack\Labs\lab-random-forests\files_for_lab\numerical.csv")
numerical1

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
0,0,60.000000,5,9,0,0,39,34,18,10,...,14,5.0,12.0,10.0,4,7.741935,95515,0,4,39
1,1,46.000000,6,9,16,0,15,55,11,6,...,1,10.0,25.0,25.0,18,15.666667,148535,0,2,1
2,1,61.611649,3,1,2,0,20,29,33,6,...,14,2.0,16.0,5.0,12,7.481481,15078,1,4,60
3,0,70.000000,1,4,2,0,23,14,31,3,...,7,2.0,11.0,10.0,9,6.812500,172556,1,4,41
4,0,78.000000,3,2,60,1,28,9,53,26,...,8,3.0,15.0,15.0,14,6.864865,7112,1,2,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,0,25.0,25.0,25.0,9,25.000000,184568,0,1,12
95408,1,48.000000,7,9,1,0,31,43,19,4,...,0,20.0,20.0,20.0,9,20.000000,122706,1,1,2
95409,1,60.000000,5,9,0,0,18,46,20,7,...,4,3.0,10.0,10.0,3,8.285714,189641,1,3,34
95410,0,58.000000,7,9,0,0,28,35,20,9,...,18,5.0,21.0,18.0,4,12.146341,4693,1,4,11
95411,2,80.000000,5,8,3,1,33,22,27,8,...,11,10.0,201.0,100.0,6,96.794872,185114,1,1,12

In [3]:
categorical = pd.read_csv(r"C:\Users\joaoa\Desktop\Ironhack\Labs\lab-random-forests\files_for_lab\categorical.csv")
categorical

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,IL,36,H,F,3,L,E,C,T,2,...,37,12,92,8,94,2,95,12,89,11
1,CA,14,H,M,3,L,G,A,S,1,...,52,2,93,10,95,12,95,12,93,10
2,NC,43,U,M,3,L,E,C,R,2,...,0,2,91,11,92,7,95,12,90,1
3,CA,44,U,F,3,L,E,C,R,2,...,28,1,87,11,94,11,95,12,87,2
4,FL,16,H,F,3,L,F,A,S,2,...,20,1,93,10,96,1,96,1,79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,other,27,H,M,3,L,G,C,C,2,...,0,2,96,2,96,2,96,2,96,2
95408,TX,24,H,M,3,L,F,A,C,1,...,50,1,96,3,96,3,96,3,96,3
95409,MI,30,H,M,3,L,E,B,C,3,...,38,1,96,3,95,1,96,10,94,10
95410,CA,24,H,F,2,L,F,A,C,1,...,40,5,90,11,96,8,97,1,86,12
95411,NC,24,U,F,3,L,G,C,C,1,...,18,1,88,12,93,12,96,12,88,3

In [4]:
numerical2 = categorical.select_dtypes(include=np.number)
numerical2

,CLUSTER,DATASRCE,DOMAIN_B,ODATEW_YR,ODATEW_MM,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,36,3,2,89,1,37,12,92,8,94,2,95,12,89,11
1,14,3,1,94,1,52,2,93,10,95,12,95,12,93,10
2,43,3,2,90,1,0,2,91,11,92,7,95,12,90,1
3,44,3,2,87,1,28,1,87,11,94,11,95,12,87,2
4,16,3,2,86,1,20,1,93,10,96,1,96,1,79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,27,3,2,96,1,0,2,96,2,96,2,96,2,96,2
95408,24,3,1,96,1,50,1,96,3,96,3,96,3,96,3
95409,30,3,3,95,1,38,1,96,3,95,1,96,10,94,10
95410,24,2,1,86,1,40,5,90,11,96,8,97,1,86,12
95411,24,3,1,88,1,18,1,88,12,93,12,96,12,88,3

In [5]:
# Checking data types
numerical2.dtypes

CLUSTER         int64
DATASRCE        int64
DOMAIN_B        int64
ODATEW_YR       int64
ODATEW_MM       int64
DOB_YR          int64
DOB_MM          int64
MINRDATE_YR     int64
MINRDATE_MM     int64
MAXRDATE_YR     int64
MAXRDATE_MM     int64
LASTDATE_YR     int64
LASTDATE_MM     int64
FIRSTDATE_YR    int64
FIRSTDATE_MM    int64
dtype: object

In [6]:
categorical = categorical.select_dtypes(include = object)
categorical

       STATE HOMEOWNR GENDER RFA_2R RFA_2A GEOCODE2 DOMAIN_A
0         IL        H      F      L      E        C        T
1         CA        H      M      L      G        A        S
2         NC        U      M      L      E        C        R
3         CA        U      F      L      E        C        R
4         FL        H      F      L      F        A        S
...      ...      ...    ...    ...    ...      ...      ...
95407  other        H      M      L      G        C        C
95408     TX        H      M      L      F        A        C
95409     MI        H      M      L      E        B        C
95410     CA        H      F      L      F        A        C
95411     NC        U      F      L      G        C        C

[95412 rows x 7 columns]

In [7]:
# Checking data types
categorical.dtypes

STATE       object
HOMEOWNR    object
GENDER      object
RFA_2R      object
RFA_2A      object
GEOCODE2    object
DOMAIN_A    object
dtype: object

In [8]:
# One hot enconding
dummies = pd.get_dummies(categorical, drop_first = True)
dummies

,STATE_FL,STATE_GA,STATE_IL,STATE_IN,STATE_MI,STATE_MO,STATE_NC,STATE_TX,STATE_WA,STATE_WI,...,RFA_2A_E,RFA_2A_F,RFA_2A_G,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U
0,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
2,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,1,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
95408,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
95409,0,0,0,0,1,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
95410,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
95411,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0

In [9]:
target = pd.read_csv(r"C:\Users\joaoa\Desktop\Ironhack\Labs\lab-random-forests\files_for_lab\target.csv")
target

       TARGET_B  TARGET_D
0             0       0.0
1             0       0.0
2             0       0.0
3             0       0.0
4             0       0.0
...         ...       ...
95407         0       0.0
95408         0       0.0
95409         0       0.0
95410         1      18.0
95411         0       0.0

[95412 rows x 2 columns]

In [10]:
# Creating a new dataframe all data and dropping null values and TARGET_D
# I decided to perform the model with only numerical data since there are already hundreds of numerical variables
data = pd.concat([numerical1, numerical2, dummies, target.drop("TARGET_D", axis = 1) ], axis = 1)
data = data.dropna(axis = 1)
data

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,RFA_2A_F,RFA_2A_G,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U,TARGET_B
0,0,60.000000,5,9,0,0,39,34,18,10,...,0,0,0,1,0,0,0,1,0,0
1,1,46.000000,6,9,16,0,15,55,11,6,...,0,1,0,0,0,0,1,0,0,0
2,1,61.611649,3,1,2,0,20,29,33,6,...,0,0,0,1,0,1,0,0,0,0
3,0,70.000000,1,4,2,0,23,14,31,3,...,0,0,0,1,0,1,0,0,0,0
4,0,78.000000,3,2,60,1,28,9,53,26,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,0,1,0,1,0,0,0,0,0,0
95408,1,48.000000,7,9,1,0,31,43,19,4,...,1,0,0,0,0,0,0,0,0,0
95409,1,60.000000,5,9,0,0,18,46,20,7,...,0,0,1,0,0,0,0,0,0,0
95410,0,58.000000,7,9,0,0,28,35,20,9,...,1,0,0,0,0,0,0,0,0,1
95411,2,80.000000,5,8,3,1,33,22,27,8,...,0,1,0,1,0,0,0,0,0,0

In [11]:
from sklearn.model_selection import train_test_split

# Defining X and y variables
X = data.drop("TARGET_B",axis = 1)
y = data["TARGET_B"]

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = 0.2)

# Train dataframe
df_train = pd.concat([X_train, y_train], axis = 1)
df_train = df_train.reset_index(drop = True)
df_train

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,RFA_2A_F,RFA_2A_G,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U,TARGET_B
0,28,61.611649,5,9,0,0,29,36,21,7,...,1,0,0,0,0,0,0,0,1,0
1,0,64.000000,4,9,0,0,23,23,28,2,...,1,0,0,0,1,0,1,0,0,0
2,1,63.000000,7,6,2,0,25,27,33,3,...,0,0,0,0,1,0,0,1,0,0
3,2,72.000000,2,9,0,0,34,19,30,7,...,0,0,0,0,0,0,1,0,0,0
4,0,61.611649,1,9,0,0,37,46,38,6,...,1,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76324,0,61.611649,1,7,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
76325,1,62.000000,2,2,6,2,40,31,32,6,...,1,0,1,0,0,0,1,0,0,0
76326,0,44.000000,5,9,0,2,40,55,14,5,...,1,0,1,0,0,0,1,0,0,0
76327,0,61.611649,2,9,0,0,30,22,47,8,...,1,0,0,0,1,1,0,0,0,0
76328,0,49.000000,4,9,0,0,20,54,22,7,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# Test dataframe
df_test = pd.concat([X_test, y_test], axis = 1)
df_test = df_test.reset_index(drop = True)
df_test

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,RFA_2A_F,RFA_2A_G,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U,TARGET_B
0,1,40.000000,6,9,11,0,28,33,19,3,...,0,1,0,1,0,0,1,0,0,0
1,0,75.000000,5,9,0,1,20,33,34,10,...,0,0,0,0,0,0,1,0,0,0
2,0,52.000000,7,9,8,0,39,19,8,13,...,0,0,0,0,0,0,0,0,1,0
3,0,54.000000,7,9,0,0,26,20,24,15,...,1,0,0,0,0,0,1,0,0,0
4,1,56.000000,5,6,2,0,52,8,76,9,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19078,2,61.611649,5,9,0,0,33,30,34,4,...,1,0,0,1,0,1,0,0,0,0
19079,1,66.000000,5,9,0,0,8,0,26,0,...,1,0,0,0,0,0,1,0,0,0
19080,0,51.000000,6,9,0,4,35,34,42,11,...,1,0,1,0,0,0,1,0,0,0
19081,0,39.000000,4,3,1,1,29,31,44,5,...,1,0,1,0,0,0,0,0,1,0
19082,2,65.000000,3,8,1,0,35,19,40,8,...,0,1,0,0,1,0,0,0,0,0

In [13]:
# Computing the frequency of the unique values of the target variable before oversampling or undersampling the train dataset
df_train["TARGET_B"].value_counts()

0    72464
1     3865
Name: TARGET_B, dtype: int64

# SMOTE

In [14]:
from imblearn.over_sampling import SMOTE

# Oversampling df_train with SMOTE method
smote = SMOTE()
x_sm, y_sm = smote.fit_resample(df_train.drop("TARGET_B", axis = 1), df_train["TARGET_B"])

# Creating a balanced dataframe
df_train = pd.concat([x_sm, y_sm], axis = 1)
df_train

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,RFA_2A_F,RFA_2A_G,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U,TARGET_B
0,28,61.611649,5,9,0,0,29,36,21,7,...,1,0,0,0,0,0,0,0,1,0
1,0,64.000000,4,9,0,0,23,23,28,2,...,1,0,0,0,1,0,1,0,0,0
2,1,63.000000,7,6,2,0,25,27,33,3,...,0,0,0,0,1,0,0,1,0,0
3,2,72.000000,2,9,0,0,34,19,30,7,...,0,0,0,0,0,0,1,0,0,0
4,0,61.611649,1,9,0,0,37,46,38,6,...,1,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144923,7,71.982481,4,7,0,1,32,30,34,5,...,0,0,0,0,0,0,0,0,0,1
144924,0,62.364680,5,8,0,0,33,20,35,5,...,1,0,0,0,0,0,0,0,1,1
144925,28,85.623415,3,9,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
144926,0,56.863881,3,5,1,0,31,28,48,10,...,0,0,0,1,0,0,0,0,0,1
144927,0,56.366308,5,9,0,0,29,35,18,9,...,1,0,0,0,0,0,0,0,0,1

In [15]:
# Computing the frequency of the unique values of the target variable after oversampling the train dataframe
df_train["TARGET_B"].value_counts()

0    72464
1    72464
Name: TARGET_B, dtype: int64

# Random Forest

In [16]:
from sklearn.ensemble import RandomForestClassifier

# Building a Random Forest model

rf_model = clf = RandomForestClassifier(n_estimators = 100, max_depth = 7, random_state = 42)
rf_model.fit(df_train.drop("TARGET_B", axis = 1), df_train["TARGET_B"])

print("R2 (Train data):", rf_model.score(df_train.drop("TARGET_B", axis = 1), df_train["TARGET_B"]))
print("R2 (Test data):", rf_model.score(df_test.drop("TARGET_B", axis = 1), df_test["TARGET_B"]))

R2 (Train data): 0.9098379885184368
R2 (Test data): 0.8628622334014568